BROWSER="none"
SKIP_PREFLIGHT_CHECK=true
FAST_REFRESH = false
REACT_APP_SITE_NAME="Unified App"
REACT_APP_OPENAI_RES_NAME="testcompletion"
REACT_APP_OPENAI_DEPLOY_ID="chat"
REACT_APP_OPENAI_API_VERSION="2024-10-21"
REACT_APP_CLIENT_ID=""
REACT_APP_OPENAI_API_KEY=""
REACT_APP_DOMAIN=""
REACT_APP_ENABLE_CALENDAR=true
REACT_APP_ENABLE_OUTLOOK=true
REACT_APP_ENABLE_TEAMS=true
REACT_APP_ENABLE_ENTRAID=true